
$text-primary-blue: hsl(238, 29%, 16%);
$text-primary-red: hsl(14, 88%, 65%);

$text-neutral-gray-blue: hsl(237, 12%, 33%);
$text-neutral-dark-grey-blue: hsl(240, 6%, 50%);

$divider: hsl(240, 5%, 91%);
