$background-gradient: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));

$mobile-breakpoint: 375px;

$desktop-breakpoint: 1440px;

$text-primary-blue: hsl(238, 29%, 16%);
$text-primary-red: hsl(14, 88%, 65%);

$text-neutral-gray-blue: hsl(237, 12%, 33%);
$text-neutral-grey-blue: hsl(240, 6%, 50%);

$divider: hsl(240, 5%, 91%);
